# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# idea
.idea

# vscode
.vscode

storage*/
config/
data*/*.npz
*whls/
db/*.db
logs*/
task1/task/1/task.cfg
task1/task/1/weight/0.weight
task1/task/1/weight/1.weight
task1/task/1/weight/2.weight
task1/task/1/weight/3.weight
task1/task/1/weight/4.weight
task1/task/1/weight/5.weight
task1/task/1/weight/6.weight
task1/task/1/weight/7.weight
task1/task/1/weight/8.weight
task1/task/1/weight/9.weight
task1/task/1/weight/10.weight
task1/task/1/weight/11.weight
task1/task/1/weight/12.weight
task1/task/1/weight/13.weight
task1/task/1/weight/14.weight
task1/task/1/weight/15.weight
task1/task/1/weight/16.weight
task1/task/1/weight/17.weight
task1/task/1/weight/18.weight
task1/task/1/weight/19.weight
task1/task/1/weight/20.weight
task1/task/2/task.cfg
task1/task/2/weight/0.weight
task1/task/2/weight/1.weight
task1/task/2/weight/2.weight
task1/task/2/weight/3.weight
task1/task/2/weight/4.weight
task1/task/2/weight/5.weight
task1/task/2/weight/6.weight
task1/task/2/weight/7.weight
task1/task/2/weight/8.weight
task1/task/2/weight/9.weight
task1/task/2/weight/10.weight
task1/task/2/weight/11.weight
task1/task/2/weight/12.weight
task1/task/2/weight/13.weight
task1/task/2/weight/14.weight
task1/task/2/weight/15.weight
task1/task/2/weight/16.weight
task1/task/2/weight/17.weight
task1/task/2/weight/18.weight
task1/task/2/weight/19.weight
task1/task/2/weight/20.weight
task1/task/2/weight/21.weight
task1/task/2/weight/22.weight
task1/task/2/weight/23.weight
task1/task/2/weight/24.weight
task1/task/2/weight/25.weight
task1/task/2/weight/26.weight
task1/task/2/weight/27.weight
task1/task/2/weight/28.weight
task1/task/2/weight/29.weight
task1/task/2/weight/30.weight
task1/task/2/weight/31.weight
task1/task/2/weight/32.weight
task1/task/2/weight/33.weight
task1/task/2/weight/34.weight
task1/task/2/weight/35.weight
task1/task/2/weight/36.weight
task1/task/2/weight/37.weight
task1/task/2/weight/38.weight
task1/task/2/weight/39.weight
task1/task/2/weight/40.weight
task2/task/1/state/1.state
task2/task/1/state/2.state
task2/task/1/state/3.state
task2/task/1/state/4.state
task2/task/1/state/5.state
task2/task/1/state/6.state
task2/task/1/state/7.state
task2/task/1/state/8.state
task2/task/1/state/9.state
task2/task/1/state/10.state
task2/task/1/state/11.state
task2/task/1/state/12.state
task2/task/1/state/13.state
task2/task/1/state/14.state
task2/task/1/state/15.state
task2/task/1/state/16.state
task2/task/1/state/17.state
task2/task/1/state/18.state
task2/task/1/state/19.state
task2/task/1/state/20.state
task2/task/2/state/30.state
task2/task/2/state/31.state
task2/task/2/state/32.state
task2/task/2/state/33.state
task2/task/2/state/34.state
task2/task/2/state/35.state
task2/task/2/state/36.state
task2/task/2/state/37.state
task2/task/2/state/38.state
task2/task/2/state/39.state
task2/task/2/state/40.state
task2/task/2/state/41.state
task3/task/1/state/1.state
task3/task/1/state/2.state
task3/task/1/state/3.state
task3/task/1/state/4.state
task3/task/1/state/5.state
task3/task/1/state/6.state
task3/task/1/state/7.state
task3/task/1/state/8.state
task3/task/1/state/9.state
task3/task/1/state/10.state
task3/task/1/state/11.state
task3/task/1/state/12.state
task3/task/1/state/13.state
task3/task/1/state/14.state
task3/task/1/state/15.state
task3/task/1/state/16.state
task3/task/1/state/17.state
task3/task/1/state/18.state
task3/task/1/state/19.state
task3/task/1/state/20.state
task3/task/2/state/7.state
task3/task/2/state/8.state
task3/task/2/state/9.state
task3/task/2/state/10.state
task3/task/2/state/11.state
task3/task/2/state/12.state
task3/task/2/state/13.state
task3/task/2/state/14.state
task3/task/2/state/15.state
task3/task/2/state/16.state
task3/task/2/state/17.state
task3/task/2/state/18.state
task3/task/2/state/19.state
task3/task/2/state/20.state
task3/task/2/state/21.state
task3/task/2/state/22.state
task3/task/2/state/23.state
task3/task/2/state/24.state
task3/task/2/state/25.state
task3/task/2/state/26.state
task3/task/2/state/27.state
task3/task/2/state/28.state
task3/task/2/state/29.state
task3/task/2/state/30.state
task3/task/2/state/31.state
task3/task/2/state/32.state
task3/task/2/state/33.state
task3/task/2/state/34.state
task3/task/2/state/35.state
task3/task/2/state/36.state
task3/task/2/state/37.state
task3/task/2/state/38.state
task3/task/2/state/39.state
task3/task/2/state/40.state
