aiosqlite==0.17.0
async_lru==1.0.2
cryptography==3.4.7
delta-task==0.3.0
fastapi==0.70.1
grpclib==0.4.2
httpx==0.21.1
hypercorn==0.13.2
numpy==1.21.4
pandas==1.2.3
Pillow==8.4.0
protobuf==3.19.1
pydantic==1.8.2
pytest==6.2.5
python-multipart==0.0.5
PyYAML==6.0
SQLAlchemy==1.4.21
tqdm==4.46.0

-f https://mirror.sjtu.edu.cn/pytorch-wheels/lts/1.8/torch_lts.html
torch==1.8.2+cpu